<nav class="navbar navbar-expand-md  fixed-top">
  <a class="navbar-head" >Welcome To SP Movie!</a>
  <div>
    <ul class="navbar-nav">
      <li class="nav-list">
        <a class="nav-link" routerLink= '/home'>Home <span class="sr-only">(current)</span></a>
      </li>
     
      <div class="movie-dropdown">
        <button class="moviebtn">Movies</button>
        <div class="moviecontent">
         <a routerLink= '/horror'>Horror</a>
         <a routerLink= '/scifi'>Sci-Fi</a>
         <a routerLink= '/family'>Family</a>
        </div>
      </div>
   
      <li class="nav-list">
        <a class="nav-link" routerLink= '/contactus'>Contact Us</a>
      </li>
    </ul>    
  </div>

  <div class="input-group">
    <input type="text" class="form-control" placeholder="" aria-label="" aria-describedby="basic-addon1">
    <div class="input-group-append">
      <button class="search-btn" type="button">Search</button>
    </div>
  </div>
  
</nav>



