/*Header*/
nav{
  color: black;
  background-color: rgb(167, 240, 243);
}

.nav-link{
  color: black;
}

 /*Movie Dropdown Menu*/
.moviebtn {
  background-color: rgb(167, 240, 243);
  color: black;
  border: none;
}

.moviecontent {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/*Search Bar*/
.input-group{
width: 15%;
left: 55%;
}