<h1>Horror Movies</h1>
<p>
Latest horror movies in 2019, check it out here.

From bumps in the night to toothy creature features, here are the best horror movies to turn your dreams to nightmares. 
</p>

<body id="horror">
<div>
<h3>Pet Sematary</h3>
<img src="assets/images/petsematary.jpg">
<p class="petsematary"> </p>
</div>

<div>
<h3>BrightBurn</h3>
<img src="assets/images/brightburn.jpg">
<p class="brightburn"> </p>
</div>

<div>
    <h3>47 Metres Down: Uncaged</h3>
    <img src="assets/images/47.jpg">
    <p class="47" >

        
    </p>
    </div>




</body>