<h4>Contact Us</h4>
<hr >
<div class="container">
  <div class="row"  *ngIf=" !Submitted">
    <div class="col-sm-12 text-left">
      <form [formGroup] = "contactForm" (ngSubmit)="onSubmit();">
        <div class="form-group">
          <label for="username">Your Name:</label>
          <input [formControlName] = "'username'" type="text" id="username" class="form-control">   
          <span class="help-block" *ngIf=" !contactForm.get('username').valid && contactForm.get('username').touched">

           <span *ngIf="contactForm.get('username').errors.required">This field is required</span> 
          <span *ngIf="contactForm.get('username').errors.minlength">Mininum 5 characters</span>
          <span *ngIf="contactForm.get('username').errors.blankSpaces">Blank not Allowed</span>

        </span>       
        </div>
        <div class="form-group">
          <label for="useremail">Your Email:</label>
          <input [formControlName] = "'useremail'" type="email" id="useremail" class="form-control">      
          <span class="help-block" *ngIf=" !contactForm.get('useremail').valid && contactForm.get('useremail').touched">

            <span *ngIf="contactForm.get('useremail').errors['required']">This field is required</span>
            <span *ngIf="contactForm.get('useremail').errors['email']">Invalid Email</span>
       
          
          </span>           
        </div>

        <div class="form-group">
          <label for="subjectenquiry">Subject of Enquiry:</label>
          <input [formControlName] = "'subjectenquiry'" type="text" id="subjectenquiry" class="form-control">   
          <span class="help-block" *ngIf=" !contactForm.get('subjectenquiry').valid && contactForm.get('subjectenquiry').touched">

           <span *ngIf="contactForm.get('subjectenquiry').errors.required">This field is required</span> 
          <span *ngIf="contactForm.get('subjectenquiry').errors.minlength">Mininum 5 characters</span>
          <span *ngIf="contactForm.get('subjectenquiry').errors.blankSpaces">Blank not Allowed</span>

        </span>       
        </div>

        <div class="form-group">
          <label for="usermessage">Your Message:</label>
          <textarea [formControlName] = "'usermessage'" type="text" id="usermessage" rows="5" class="form-control"></textarea>
          
          <span class="help-block" *ngIf="!contactForm.get('usermessage').valid && contactForm.get('usermessage').touched">
            This field is required
          </span>
        </div>
        <button [disabled]="!contactForm.valid" class="btn btn-primary" type="submit" >Submit</button>
      </form>
      <hr>      
    </div>
  </div>
  
  <div class="row" *ngIf="submitted">
      <div class="col-sm-8 col-md-offset-2 text-left">
        <h3>Your Data</h3>
        <p>Username: {{ contactForm.value.username }}</p>
        <p>Email: {{ contactForm.value.useremail }}</p>
        <p>Message: {{ contactForm.value.usermessage }}</p>
    <button class="btn btn-primary" (click)="onReset()">Make another submission</button>   
</div>
</div>
</div>
