<body>
<h4 >
    In this one-stop movie app, find the movie that you might love which is currently screening and learn more about their information.

    Summarizing the movie for you. Check and learn whether it is the one you are looking for.
      </h4>
   
<img 
  src="assets/images/movietheater.jpg" 
  alt=""
>
</body>

  
 
